<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="cart"></ion-icon>
            Ventas
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of api.items">
            <ion-item>
                <h2>
                    <b>{{item.worker.name}}</b>

                </h2>
                <p ion-text color="primary">
                    {{item.value | currency:'bsF':true}} | &nbsp;&nbsp;
                    {{item.value * item.percent/100 | currency:'BsF':true}}
                </p>
                <p text-capitalize item-right>
                    {{item.time  |amTimeAgo }}
                    <br>
                    {{item.time | amCalendar }}
                </p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="removeItem(item)">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab top right edge>
        <button ion-fab mini color="secondary" (click)="addItem()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
<!--<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Trabajador</ion-label>
                    <ion-select type="text" [(ngModel)]="newItem.worker">
                        <ion-option [value]="worker" *ngFor="let worker of api.workers; let i = index">
                            {{worker.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label floating>Valor</ion-label>
                    <ion-input type="number" min="0" max="2000000" [(ngModel)]="newItem.value"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>-->
